@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.class {
	color: rgba(225, 225, 225, 0.5);
}

/* common style */
html{
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after{
    box-sizing: inherit;
  }
body ,html {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
    height: 100%;
    min-height: 250px;
    font-size: 100%;
    font-family: 'Noto Serif JP', serif;
    line-height: 1.5;
    color: #888888;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
#loader{
    width: 80px;
    height: 80px;
    display: none;
    position: fixed;
    _position: absolute;     /* IE6対策 */
    top: 50%;
    left: 50%;
    margin-top: -40px;       /* heightの半分のマイナス値 */
    margin-left: -40px;      /* widthの半分のマイナス値 */
    z-index: 10;             /* #fadeより多い値を入れて下さい */
}
#fade{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;              /* #loaderより少ない値を入れて下さい */
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}





/* global header */
.global_header {
    background-color: #ffffff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    box-shadow: 0 3px 6px 6px #ffffff;
    z-index: 1;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 8px 10%;
}
.logo {
    width: 40px;
    margin-top: 8px;
}
.global_nav {
    display: flex;
    font-size: 1.1em;
    list-style: none;
    margin-top: .8em;
}
.global_nav li {
    margin-left: 8vw;
}
.global_nav a{
    cursor:　pointer;
    color: #888888;
    font-weight: 200;
}
.global_nav a:hover {
    color: #545454;
}

#nav-input{
    display: none;
}





/* -------------------------------------------------------------- */
@media (max-width: 579px){

    header {
        position: relative;
        background:#fff;
    }
    #nav-drawer {
        display: block;
        margin-top: 12px;
        cursor: pointer;
    }
    .nav-unshown {
        display:none;
    }
    #nav-open {
        display: inline-block;
        width: 36px;
        height: 22px;
    }



    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 4px;/*線の太さ*/
        width: 36px;/*長さ*/
        border-radius: 3px;
        background: #b7ceda;
        display: block;
        content: '';
        cursor: pointer;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }
    #nav-open span:before {
        bottom: -14px;
    }
    #nav-open span:after {
        bottom: -28px;
    }



    /*閉じる用の薄黒カバー*/
    #nav-close {
        display: none;/*はじめは隠しておく*/
        position: fixed;
        z-index: 10;
        top: 0;/*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: #131313d2;
        opacity: 0;
        transition: .3s ease-in-out;
    }

    /*中身*/
    #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;/*最前面に*/
        width: 80%;/*右側に隙間を作る（閉じるカバーを表示）*/
        /* max-width: 90%;最大幅（調整してください） */
        height: 100%;
        background: #fff;/*背景色*/
        transition: .3s ease-in-out;/*滑らかに表示*/
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);/*左に隠しておく*/
    }
    .global_nav{
        display: block;
        position: absolute;
        margin: 0 auto 30vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 200px; 
    }
    .global_nav li{
        display: block;
        text-align: center;
        font-size: 1.2em;
        line-height: 4.8em;
        border-bottom: #b7ceda64 solid 1px;
    }



    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
        display: block;/*カバーを表示*/
        opacity: .5;
    }

    #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);/*中身を表示（右へスライド）*/
        box-shadow: 12px 0 25px rgba(0, 0, 0, 0.2);
    }
}
